:root{
    --text-color:#FFF;
    --background-color:#000;
    --accent-color:#D23166;
    --footer-color:#151515;
    --social-bg:rgba(255, 255, 255, 0.10);
    --button-color:#FAFAFA;
}
.container{
   width: 1267px;
   margin: 0 auto; 
   padding-left: 10px;
   padding-right: 10px;
   outline: 1px solid red;
}
body{
    background-color: var(--background-color);
}
                                  /* header */
header{
    padding-top: 40px;
    padding-bottom: 40px;
}
.header .container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.header-list{
    display: flex;
    gap: 95px;
}
.header-link{
color: var(--text-color);
text-align: justify;
font-family: Manrope;
font-size: 18px;
font-weight: 500;
line-height: normal;
}
.header-items{
    display: flex;
    gap: 15px;
}
.header-sociale{
background-color:var(--social-bg);
display: flex;
width: 36px;
height: 36px;
align-items: center;
justify-content: center;
border-radius: 50%;
}
.header-img{
    width: 15px;
    height: 15px;
}
                                  /* hero */
.hero .container{
    display: flex;
    gap: 73px;
}
.hero-list{
width: 587.0px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}
.hero-text{
 color: var(--main-color);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
opacity: 0.6;
width: 578.0px;
}
.hero-title{
align-self: stretch;
color:var(--text-color);
font-family: Alexandria;
font-size: 57.33px;
font-style: normal;
font-weight: 400;
line-height: 94%;
letter-spacing: -4.013px;
opacity: 0.9;
width: 587.0px;
margin-bottom: 16px;
}
.hero-span{
    color:var(--accent-color);
}
.hero-subtitle{
color:var(--text-color);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 0,6;
opacity: 0.6;
height: 78.0px;
}
.hero-button{
display: flex;
padding: 13px 50px;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 5px;
background:var(--accent-color);
color: var(--button-color);
}
                               /* about */
.about{
    padding-top: 129px;
    padding-bottom: 105px;
}
.about .container{
position: relative;
}
.about-title{
    color: var(--text-color);
text-align: center;
font-family: Alexandria;
font-size: 57.33px;
font-style: normal;
font-weight: 400;
line-height: 100%;
letter-spacing: -4.013px;
opacity: 0.9;
}
.about-span{
    color: var(--social-bg);
}
.accient-span{
    color:var(--accent-color);
}
.about-milk{
position: absolute;
left: 40px;
top: 100px;
}
.about-strawwbery{
position: absolute;
top: 200px;
left: 40%;
}
.about-pistachio{
position: absolute;
top: -70px;
right: 130px;
}
                               /* product */
.product{
    display: flex;
    padding-bottom: 60px;
    padding-top: 60px;
}
.product-captaion{
    color: var(--text-color);
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 94%;
letter-spacing: -3.92px;
opacity: 0.9;
margin-bottom: 26px;
}
.list-button{
display: flex;
gap:18px;
justify-content: center;
}
.arrow-button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--social-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-wrap{
    display: flex;
    justify-content: space-between;
}
.button-item:last-child{
transform: rotate(180deg);
}
.product-list{
    display: flex;
    gap: 20px;
    margin-top: 56px
}
.product-item{
   background-color: var(--footer-color);
   border-radius: 5%;
}
.product-wrapper{
    padding: 24px 30px;
}
.product-title{
color: var(--text-color);
font-family: "Hind Madurai";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.product-text{
color: var(--text-color);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
opacity: 0.7;
}
.product-price{
color: var(--text-color);
font-family: "Hind Madurai";
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 100%;
}
.second-price{
color: var(--text-color);
font-family: "Hind Madurai";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 100%;
text-decoration-line: line-through;
opacity: 0.7;
}
.product-button{
    background-color: var(--accent-color);
color: var(--button-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 15px 86px;
border-radius: 5px;

}
.product-box{
    display: flex;
    gap: 5px;
}
.product-price:last-child{
    color: red;
}
                                /* order */
.order .container{
    width: 1248.0px;
height: 810.0px;

}
.order-list{
width: 466.0px;
height: 200.0px;
}
.order-title{
color: var(--text-color);
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 94%;
letter-spacing: -3.92px;
opacity: 0.9;
}
.order-text{
    color: var(--text-color);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
opacity: 0.6;
}
.order-way{
   color: var(--text-color);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
opacity: 0.6;
}
.question-title{
    align-self: stretch;
color:var(--text-color);
text-align: center;
font-family: Alexandria;
font-size: 57.33px;
font-style: normal;
font-weight: 400;
line-height: 94%;
letter-spacing: -4.013px;
opacity: 0.9;

}
.question-label{
width: 637.0px;
height: 74.0px;
padding: 29px 30px;
display: flex;
padding: 29px 30px;
align-items: center;
gap: 10px;
position: absolute;
border-radius: 100px;
border: 1px solid #FFF;
}