:root{
    --text-color:#FFF;
    --background-color:#000;
    --accent-color:#D23166;
    --footer-color:#151515;
    --social-bg:rgba(255, 255, 255, 0.10);
    --button-color:#FAFAFA;
}
.container{
   width: 1267px;
   margin: 0 auto; 
   padding-left: 10px;
   padding-right: 10px;
   outline: 1px solid red;
}
body{
    background-color: var(--background-color);
}
header{
    padding-top: 40px;
    padding-bottom: 40px;
}
.header .container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.header-list{
    display: flex;
    gap: 95px;
}
.header-link{
color: var(--text-color);
text-align: justify;
font-family: Manrope;
font-size: 18px;
font-weight: 500;
line-height: normal;
}
.header-items{
    display: flex;
    gap: 15px;
}
.header-sociale{
background-color:var(--social-bg);
display: flex;
width: 36px;
height: 36px;
align-items: center;
justify-content: center;
border-radius: 50%;
}
.header-img{
    width: 15px;
    height: 15px;
}
.main .container{
    width: 1440.0px;
    height: 588.0px;
padding: 0 96px;
}
.hero-list{
width: 587.0px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}
.hero-text{
align-self: stretch;
color: var(--text-color);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.4px;
}
.hero-title{
    color: var(--text-color);
align-self: stretch;
font-family: Alexandria;
font-size: 57.33px;
font-style: normal;
font-weight: 400;
line-height: 94%;
letter-spacing: -4.013px;
opacity: 0.9;
}
.hero-span{
    color:var(--accent-color);
}
.hero-subtitle{
color:var(--text-color);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 0,6;
opacity: 0.6;
}
.hero-button{
display: flex;
padding: 13px 50px;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 5px;
background:var(--accent-color);
color: var(--button-color);
}
.container .about-section{
width: 1248.0px;
height: 399.0px;
}
.about-title{
    color: var(--text-color);
text-align: center;
font-family: Alexandria;
font-size: 57.33px;
font-style: normal;
font-weight: 400;
line-height: 100%;
letter-spacing: -4.013px;
opacity: 0.9;
}
.accient-span{
    color:var(--social-bg);
}
.product-caption{
    color: var(--text-color);
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 94%;
letter-spacing: -3.92px;
opacity: 0.9;
}
.product-img{
width: 297.0px;
height: 274.0px;
}
.product-list{
display: flex;
flex-wrap: nowrap;
gap:10px;
justify-content: center;
}
.product-item{
width: 297.0px;
height: 274.0px;
}
.product-title{
color: var(--text-color);
font-family: "Hind Madurai";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.product-text{
color: var(--text-color);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
opacity: 0.7;
}
.product-price{

color: var(--text-color);
font-family: "Hind Madurai";
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 100%;
}
.second-price{

color: var(--text-color);
font-family: "Hind Madurai";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 100%;
text-decoration-line: line-through;
opacity: 0.7;
}
.product-button{
    background-color: var(--accent-color);
color: var(--button-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
